<!--This partial view has a table the details of each reading, such as the code, temp and Wind speed data-->


<div class="ui segment">



    <table class="ui fixed table">
        <thead>
        <tr>
            <th>Date/Time</th>
            <th>Code</th>
            <th>Temp</th>
            <th>Wind Speed</th>
            <th>Pressure</th>
            <th>Wind Direction</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        #{list items:_station.readings, as:'reading'}
        <tr>
            <td>

            </td>
            <td>
                ${reading.code}
            </td>
            <td>
                ${reading.temp}
            </td>
            <td>
                ${reading.windSpeed}
            </td>
            <td>
                ${reading.pressure}
            </td>
            <td>
                ${reading.windDirection}
            </td>
            <td>
                <a href="/stations/${_station.id}/deletereading/${reading.id}" class="ui tiny red button">Delete Reading</a>  <!--MAY NEED TO REMOVE THIS IF NOT REQUIRED-->
            </td>

            #{/list}

        </tbody>
    </table>

</div>
