#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<!--This view gives background app information to the user and some images-->
<section class="ui center aligned middle aligned segment">


  <div class="ui raised segment">
    26022021 version 1 reformat to match Yaml. W
    cdeatherTop is a fast, simple and intuitive app for your  mobile, with a clean User Interface without those clutters and ads. Get all the information you want at a glance. Getting weather information has never been so easy and amazing. Stay connected to the latest weather conditions with Simple Weather.

    Compatible with Android Jellybean(4.2.x) and above. App best experienced with Android Lollipop and above (5.0+).

    Now available in 11 languages: English, Basque, Chinese, Danish, Hindi, French, Norwegian, Dutch, Spanish, Japanese, Russian</p>
  </div>
  <h1> Current Features: </h1>
  <div class="ui bulleted list">
    <div class="item">View Current Temperature, Minimum and Maximum Temperature</div>
    <div class="item">View Wind Speed and Direction</div>
    <div class="item">View your Weather in 11 different languages</div>
    <div class="item">View weather data of multiple cities simultaneously</div>
    <div class="item">View Weather Graphs and Maps</div>
    <div class="item">Add cities on the basis of ZIP Code</div>
    <div class="item">Add weather widgets of the default city on launcher</div>
  </div>

  <div class="ui raised segment">
    <h2> <h1> New Features: </h1></h2>
    <div class="ui bulleted list">
      <div class="item">UV Index Data</div>
      <div class="item">Multiple cities in the widget</div>
    </div>
  </div>




  <div class="ui stacked segment">
    <p> The app will be regularly updated, and new versions will also be released.</p>
  </div>

  </p>
</section>